table {
	border-collapse:collapse;
	font-family: STSong,sans-serif;
	width:100%;
}

th {
	background:#000000;
	color:#FFFFFF;
}

tbody tr:nth-child(even) {
    background-color: #D9D9D9;
}

table, th, td
{
    border: 1px solid black;
    padding:13px;
    text-align:center;
}
